{
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["./src/**/*.svelte"],
      "options": {
        "svelteSortOrder": "options-scripts-markup-styles",
        "svelteStrictMode": true,
        "svelteBracketNewLine": true,
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true
      }
    }
  ]
}
